a:hover {
    text-decoration: none;
}
h1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;            
}
h2 {
    font-size: 23px;
    font-weight: 700;
    text-transform: capitalize;
}

li{
    line-height: 1.3;
}